# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/
out/
target/
.gradle/
.mvn/

# Env files
.env
.env.local
.env.*.local

# Others
coverage/
.cache/

